[user]
	name = huangyingw@PrimaryStorage
	email = huangyingw@gmail.com
[merge]
	tool = kdiff3
[diff]
	tool = kdiff3
[alias]
	ad = add
	bi = bisect
	br = branch
	ci = commit -am
	cl = clone -v
	co = checkout
	ch = cherry
	chp = cherry-pick
	di = diff
	fe = fetch
	in = init
	lf = ls-files
	lg = log --pretty=oneline 
	me = merge
	met = mergetool
	pl = pull
	ps = push
	rs = reset
	rsh = reset --hard
	rt = remote
	rv = revert
	sm = submodule
  st = status
  sta = stash
  tg = tag -l -n1
  vd = difftool