.aptitude/
.bash_history
.cache/
.config/
.cvspass
.dbus/
.esd_auth
.gconfd/
.gitconfig.bak
.gitignore.bak
.hgrc
.htoprc
.profile.bak
.pulse-cookie
.pulse/
.recently-used.xbel
.screen-profiles/
.screenrc
.selected_editor
.ssh/
.subversion/
.synaptic/
.usbcreator.log
.vim/
.viminfo
Copy of .gitignore
atunes/
eglibc_2.10.1-0ubuntu15.diff.gz
eglibc_2.10.1-0ubuntu15.dsc
flac-1.2.1/
flac_1.2.1-2build1.diff.gz
flac_1.2.1-2build1.dsc
flac_1.2.1.orig.tar.gz
gcc-defaults-1.82ubuntu2/
gcc-defaults_1.82ubuntu2.dsc
gcc-defaults_1.82ubuntu2.tar.gz
index.sh.bak
index/
lucene.sh.bak
myproject
search.sh.bak
smb.sh.bak
variables.txt
variables.txt.bak
workspace/
.kde/
demo
