*.bak
.aptitude/
.bash_history
.cache/
.viminfo
myproject
.dbus/
.esd_auth
.gconfd/
.htoprc
.pulse-cookie
.pulse/
.ssh/
.subversion/
.synaptic/
gcb.sh
*.bak
*.bak
.viminfo
coreutils_7.4-2ubuntu1.diff.gz
coreutils_7.4-2ubuntu1.dsc
coreutils_7.4.orig.tar.gz
*.o
run
.aptitude/
.bash_history
.cache/
.config/
.kde/
.pulse-cookie
.pulse/
.ssh/
.viminfo
.dbus/
.gconfd/
.htoprc
.synaptic/
.vim/
myproject
sharutils_4.6.3-4.diff.gz
sharutils_4.6.3-4.dsc
sharutils_4.6.3.orig.tar.gz
myproject
.cvspass
.dbus/
.esd_auth
.gconfd/
.htoprc
.pulse-cookie
.pulse/
.ssh/
.subversion/
.synaptic/
.viminfo
coreutils_7.4-2ubuntu1.diff.gz
coreutils_7.4-2ubuntu1.dsc
coreutils_7.4.orig.tar.gz
.recently-used.xbel
.screen-profiles/
.screenrc
.selected_editor
.subversion/
.synaptic/
.usbcreator.log
.vim/
atunes/
eglibc_2.10.1-0ubuntu15.diff.gz
eglibc_2.10.1-0ubuntu15.dsc
flac-1.2.1/
flac_1.2.1-2build1.diff.gz
flac_1.2.1-2build1.dsc
flac_1.2.1.orig.tar.gz
gcc-defaults-1.82ubuntu2/
gcc-defaults_1.82ubuntu2.dsc
gcc-defaults_1.82ubuntu2.tar.gz
lucene/
lv.txt
myproject
disk_list.txt
check_disk.log
rlog
.usbcreator.log
df.txt
dmidecode.txt
fdisk.txt
index/
variables.txt
workspace/
.aptitude/
.bash_history
.cache/
.htoprc
.pulse-cookie
.pulse/
.ssh/
.viminfo
.selected_editor
android.csv
.repoconfig/
.repopickle_.gitconfig
bin/
myproject
task.sh
interfaces
resolv.conf
setup.sh
setup.sh.1
smb.conf
smbusers
sources.list
ubuntu.10.4.64.backup.tar.gz
.lesshst
.subversion/
heritrix.sh
rlog
.dbus/
.gconfd/
.ssh/
.synaptic/
index/
variables.txt
workspace/
.lesshst
bin/
rlog
.ICEauthority
.adobe/
.bash_logout
.codeblocks/
.compiz/
.dmrc
.eclipse/
.emacs.d/
.evolution/
.fontconfig/
.gconf/
.gitk
.gksu.lock
.gnome2/
.gstreamer-0.10/
.gtk-bookmarks
.ibus/
.lesshst
.local/
.macromedia/
.mission-control/
.mozilla/
.pki/
.sn/
.sudo_as_admin_successful
.thumbnails/
.update-notifier/
.viminfo.tmp
.viminfz.tmp
.vimperator/
.xsession-errors
.xsession-errors.old
Downloads/
bookmarks.HTML
check_disk.log
data/
demo
disk_list.txt
re2/
rlog
root/
si/
.viminfo.tmp
.viminfz.tmp
.vimperator/
.bashrc.swp
data/
demo
re2/
root/
si/
task.sh
