*.bak
*.o
.ICEauthority
.Xauthority
.adobe/
.aptitude/
.bash_history
.bash_logout
.bashrc.swp
.cache/
.codeblocks/
.compiz/
.config/
.cvspass
.dbus/
.dmrc
.eclipse/
.emacs.d/
.esd_auth
.evolution/
.fontconfig/
.gconf/
.gconfd/
.gitk
.gksu.lock
.gnome2/
.gnupg/
.gstreamer-0.10/
.gtk-bookmarks
.htoprc
.ibus/
.kde/
.lesshst
.local/
.macromedia/
.mission-control/
.mozilla/
.nx/
.openoffice.org/
.pki/
.pulse-cookie
.pulse/
.qt/
.recently-used.xbel
.repoconfig/
.repopickle_.gitconfig
.screen-profiles/
.screenrc
.selected_editor
.sn/
.ssh/
.stardict/
.subversion/
.sudo_as_admin_successful
.synaptic/
.thumbnails/
.update-manager-core/
.update-notifier/
.usbcreator.log
.vim/
.viminfo
.viminfo.tmp
.viminfz.tmp
.vimperator/
.vmware/
.xine/
.xscreensaver-getimage.cache
.xsession-errors
.xsession-errors.old
Desktop/
Downloads/
android.csv
atunes/
bin/
bookmarks.HTML
check_disk.log
core
coreutils_7.4-2ubuntu1.diff.gz
coreutils_7.4-2ubuntu1.dsc
coreutils_7.4.orig.tar.gz
data/
demo
df.txt
disk_list.txt
dmidecode.txt
eglibc_2.10.1-0ubuntu15.diff.gz
eglibc_2.10.1-0ubuntu15.dsc
examples.desktop
fdisk.txt
flac-1.2.1/
flac_1.2.1-2build1.diff.gz
flac_1.2.1-2build1.dsc
flac_1.2.1.orig.tar.gz
gcb.sh
gcc-defaults-1.82ubuntu2/
gcc-defaults_1.82ubuntu2.dsc
gcc-defaults_1.82ubuntu2.tar.gz
heritrix.sh
index.sh
index/
interfaces
log
lucene/
lv.txt
myproject
photos-20100910-0.db
qrsync.sh
re2/
resolv.conf
rlog
root/
run
setup.sh
setup.sh.1
sharutils_4.6.3-4.diff.gz
sharutils_4.6.3-4.dsc
sharutils_4.6.3.orig.tar.gz
si/
smb.conf
smbusers
sources.list
task.sh
ubuntu.10.4.64.backup.tar.gz
variables.txt
vmware/
work/
workspace/
back.sh
check_disk.sh
chmoda.sh
code.sh
crypt.sh
debug.sh
diff.txt
download.sh
encrypt_lv.sh
g.sh
gctb.sh
gi.sh
gib.sh
gtag.sh
iso.sh
lucene.sh
md.sh
mkfs.sh
mkkeys.sh
mount.sh
move.sh
rev_back.sh
rsync.sh
smb.sh
software.sh
apt-mirror.sh.lck
